{{#if this.shouldRender}}
  <div
    {{did-insert this.getCategory}}
    {{did-update this.getCategory this.isVisible}}
    class="category-title-header
      {{if this.category (concat 'category-banner-' this.category.slug)}}"
    style={{if this.category this.safeStyle}}
  >
  <div class="wrap">
  <div class="category-banner-logo">
        {{#if this.category.uploaded_logo.url}}
        {{cdn-img
          src=this.category.uploaded_logo.url
          class="category-logo"
          width=this.category.uploaded_logo.width
          height=this.category.uploaded_logo.height
          alt=""
        }}
      {{/if}}
  </div>
    <div class="category-title-contents">
      <h1 class="category-title">
        {{#if this.category.read_restricted}}
          {{d-icon "lock"}}
        {{/if}}
        {{this.category.name}}
      </h1>

      {{#if (theme-setting "show_description")}}
        <div class="category-title-description">
          <div class="cooked" innerHTML={{this.category.description}}></div>
        </div>
      {{/if}}
    </div>
    </div>
  </div>
{{/if}}
